body{
    background-color: black;
}

.body{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    height: 100vh;
    color: whitesmoke;
    color: #f1f1f1;
    font-size: larger;
    font-weight: bold;
    
}

img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 20px;
    image-rendering: pixelated;
    object-fit: cover; 
    border: 1px solid #0dcaf0;
}

.button{
    border: 1px solid #0dcaf0;
    padding: 10px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.382);
    border-radius: 5px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: white;
}

i{
    padding-right: 20px;
}

h1{
    font-size: 2.5rem;
    margin-top: 20px;
}

@media (max-width: 678px) {
    .body{
        width: 100%;
        padding: 20px;
    }
}

