body{
    background-color: rgb(251, 251, 251);
    background-image: url('Images/sup.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.body{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    align-items: center;
    width: 33%;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bold;
    
}

img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin-top: 20px;
    image-rendering: pixelated;
    object-fit: cover; 
    border: 1px solid #0dcaf0;
}

.button{
    border: 1px solid #0dcaf0;
    padding: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin: 10px;
    
}
/*
.col1{
    width: 33%;
    align-items: center;   
    color: white; 
    margin: auto;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    
}
.col3{
    width: 33%;

}
*/

.button:hover{
    box-shadow: 0 0 10px 0 #0dcaf0;
  transition: all 50ms ease-in-out;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

i{
    padding-right: 20px;
}

h1{
    font-size: 2.5rem;
    margin-top: 20px;
}

@media (max-width: 678px) {
    .body{
        width: 100%;
        padding: 20px;
    }
    .col1{
        display: none;
    }
    .col3{
        display: none;
    }
}


